<div class="detailSection">
    <div class="detailH1">Details</div>
    <div class="detailH2">Folder Properties</div>
    <div class="detailLable">
        <div class="lableH1">Name</div>
        <div class="lableH2">Loan Application</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Owner</div>
        <div class="lableH2">John doe, 10:00 AM</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Updated by</div>
        <div class="lableH2">John doe, 10:00 AM</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>

    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>
    <div class="detailLable">
        <div class="lableH1">Size</div>
        <div class="lableH2">287 KB</div>
    </div>

</div>