.detailSection {
    height: 100%;
    padding: 15px;
    .detailH1 {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        letter-spacing: .5px;
        margin-bottom: 15px;
    }
    .detailH2 {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 20px;
    }
    .detailLable {
        margin-bottom: 20px;
        line-height: normal;
        .lableH1 {
            font-size: 12px;
            font-weight: 400;
            color: #333333;
            margin-bottom: 5px;
        }
        .lableH2 {
            font-size: 12px;
            font-weight: 500;
            color: #767676;
        }
    }
}