<!-- <div class="msgWindow">
    <div class="msgWindowImg"><img src="assets/images/web_3010.svg"></div>
    <div class="msgWindowHead">Download your file!</div>
    <div class="msgWindowMsg">Sorry you can not view this file! The file you are trying to access is too large and is causing problem to open in the browser. You can download the file by clicking download button.</div>
    <div class="downloadBtn"><button type="btn">Download <img src="assets/images/down-arrow.svg"></button></div>
</div> -->
<div class="msgWindow">
    <div class="msgWindowImg"><img src="assets/images/web_3009.svg"></div>
    <div class="msgWindowHead">Request Access!</div>
    <div class="msgWindowMsg">The file you are trying to access is too large and is causing problem to open in the browser. Request john@gmail.com to provide more access, so you can download file.</div>
</div>
<!-- <div class="msgWindow">
    <div class="msgWindowImg"><img src="assets/images/web_3009.svg"></div>
    <div class="msgWindowHead">Access Denied!</div>
    <div class="msgWindowMsg"><span>john.doe@gmail.com</span> given access to this file, you are signed in as <span>john@gmail.com.</span> Signout from this account, and try again.</div>
</div> -->