<div class="mainContainer">

    <app-child-header></app-child-header>
    <div class="w-100 d-flex">
        <div class="applicationData">
            <app-application-tool-bar></app-application-tool-bar>
        </div>
        <div class="applicationDetail">
            <app-application-tool-bar-detail></app-application-tool-bar-detail>
        </div>
    </div>

</div>