.mainContainer {
    width: 95vw;
    height: 100vh;
    overflow: hidden;
}

.applicationData {
    width: 80%;
    border-right: 1px solid #EFEFEF;
    height: 85vh;
}

.applicationDetail {
    width: 20%;
    height: 85vh;
    overflow: auto;
}


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #70707059;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #333333;
}