<div class="mainContainer">
    <app-header></app-header>

    <div class="w-100 d-flex">
        <div class="applicationData pl-4 pr-4">
            <app-application-data></app-application-data>
        </div>
        <div style="width: 25%;">
            <app-detail-attachment-bar></app-detail-attachment-bar>
        </div>

    </div>
</div>