.leftMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.menuTop {
    img {
        width:25pt;
        height: auto;
        cursor: pointer;
    }
}

.menuButtom {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nameFirstLetter {
        color: #ffffff;
        background-color: #75CAD7;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 500;
        height: 25pt;
        width: 25pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
    }
    img {
        width: 25pt;
        height: auto;
        cursor: pointer;
    }
}