<div class="leftMenu">
    <div class="menuTop"><img src="assets/images/web_3001.svg"></div>
    <div class="menuButtom">
        <div class="nameFirstLetter">R</div>
        <img src="assets/images/web_3002.svg">
    </div>
</div>