// email detail start
.emailAttachments {
    height: 100%;
    padding: 15px;
    .attachmentsHead {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        letter-spacing: .5px;
        margin-bottom: 25px;
    }
    .attachmentsLable {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        img {
            width: 20pt;
            height: auto;
            margin-right: 15px;
        }
        .attachmentsH1 {
            font-size: 12px;
            font-weight: 400;
            color: #333333;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 12vw;
            overflow: hidden;
        }
        .attachmentsH2 {
            font-size: 10px;
            font-weight: 500;
            color: #767676;
        }
    }
}