<!-- email detail start -->
<div class="emailAttachments">
    <div class="attachmentsHead">Attachments<span>(3)</span></div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3011.svg">
        <div>
            <div class="attachmentsH1">Bank Statement.doc</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3012.svg">
        <div>
            <div class="attachmentsH1">Annual professiona adsfasfsfsfd</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
    <div class="attachmentsLable">
        <img src="assets/images/web_3013.svg">
        <div>
            <div class="attachmentsH1">Some big document ssfadffsdffsfasfa</div>
            <div class="attachmentsH2">389 KB</div>
        </div>
    </div>
</div>