<div class="applicationDataSection">
    <div class="row tableHead">
        <div class="col-4">Name</div>
        <div class="col-4">Files</div>
        <div class="col-4">Date</div>
    </div>
    <div class="tableLable">

        <div class="row">
            <div class="col-4" (click)="getOpneStatement()">
                <img src="assets/images/web_3008.svg">
                <span class="orgWidth">Bank Statements</span>
            </div>
            <div class="col-4">8</div>
            <div class="col-4">2:30 A.M</div>
            <hr>
        </div>
        <div class="row" (click)="getOpneStatement()">
            <div class="col-4">
                <img src="assets/images/web_3008.svg">
                <span class="orgWidth">Project Report</span>
            </div>
            <div class="col-4">8</div>
            <div class="col-4">2:30 A.M</div>
            <hr>
        </div>
        <div class="row" (click)="getOpneStatement()">
            <div class="col-4">
                <img src="assets/images/web_3011.svg">
                <span class="orgWidth">Income tax form 16.doc</span>
            </div>
            <div class="col-4">8</div>
            <div class="col-4">2:30 A.M</div>
            <hr>
        </div>
    </div>
</div>

<!-- Structure data - Aadhaar start -->
<!-- <div class="StructureData">
    <div class="strLable">
        <div class="strLableName">Name</div>
        <div class="strLableDetail">John Doe</div>
    </div>
    <div class="strLable">
        <div class="strLableName">Mobile</div>
        <div class="strLableDetail">+91 7263927048</div>
    </div>
    <div class="strLable">
        <div class="strLableName">Date of Birth</div>
        <div class="strLableDetail">02/04/1987</div>
    </div>
    <div class="strLable">
        <div class="strLableName">Aadhaar No</div>
        <div class="strLableDetail">7326 9973 3278 8370</div>
    </div>
</div> -->