.applicationDataSection {
    .tableHead {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        letter-spacing: .5px;
        padding: 15px 0;
    }
    .tableLable {
        font-size: 12px;
        font-weight: 500;
        color: #333333;
        .row {
            height: 50pt;
            cursor: pointer;
            position: relative;
        }
        .row:hover {
            background-color: #efefef;
            hr {
                display: none;
                width: calc(100% - 15px);
            }
        }
        .col-4 {
            display: flex;
            align-items: center;
            .orgWidth {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 20vw;
            }
        }
        img {
            width: 20pt;
            height: auto;
            margin-right: 15px;
        }
        hr {
            margin: 0 15px;
            width: calc(100% - 30px);
            position: absolute;
            bottom: 0;
        }
    }
}

// Structure data - Aadhaar start
.StructureData {
    margin-right: 20px;
    margin-top: 40px;
    .strLable {
        width: 50%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin-bottom: 30px;
        .strLableName {
            font-size: 12px;
            font-weight: 500;
            color: #767676;
            margin-bottom: 5px;
        }
        .strLableDetail {
            font-size: 12px;
            font-weight: 500;
            color: #333333;
            margin-bottom: 5px;
        }
    }
}