<div class="webViwer_dashboard">
    <div class="leftSection">
        <app-left-menu></app-left-menu>
    </div>
    <div class="rightSection">
        <router-outlet></router-outlet>

    </div>
</div>