.header {
    height: 20vh;
    padding: 0 20px;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .breadCrumb {
        font-size: 12px;
        color: #6E6E6E;
        margin-bottom: 10px;
    }
    .headerHead {
        font-size: 22px;
        color: #292929;
        letter-spacing: .5px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: normal;
    }
    .permission {
        font-size: 10px;
        color: #707070;
        display: flex;
        align-items: end;
        img {
            height: 8pt;
            width: auto;
            margin-right: 8px;
        }
        .dot {
            height: 6px;
            width: 6px;
            background-color: #ACACAC;
            border-radius: 50%;
            margin: 4px 10px;
        }
    }
}