<div class="header">
    <div class="breadCrumb">Home /</div>
    <div class="headerHead">Loan Application</div>
    <div class="permission">
        <img src="assets/images/web_3003.svg">
        <span class="mr-1">Full Access. </span>
        <span class="">Expires on  <span>19th Jan 2020 10:10 AM</span></span>
        <span class="dot"></span>
        <span>Shared by <span>John Doe</span></span>
    </div>
</div>