.mainContainer {
    width: 95vw;
    height: 100vh;
    overflow: hidden;
}

.applicationData {
    width: 75%;
    border-right: 1px solid #EFEFEF;
    height: 80vh;
}

.applicationDetail {
    width: 80%;
    border-right: 1px solid #EFEFEF;
    height: 80vh;
    overflow: auto;
}

.detailAlert {
    width: 20%;
    height: 80vh;
}


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #70707059;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.alertSection {
    .alertImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50pt;
        cursor: pointer;
        img {
            width: 15pt;
            height: 15pt;
            margin-bottom: 5px;
        }
        div {
            font-size: 9px;
            font-weight: 400;
            color: #333333;
        }
    }
    .alertImg.active {
        background: #EFEFEF;
    }
}