<div class="d-flex">
    <div class="applicationDetail">
        <div *ngIf="detail">
            <app-application-detail></app-application-detail>
        </div>
        <div *ngIf="attachment">
            <app-application-attachments></app-application-attachments>
        </div>
    </div>
    <div class="detailAlert">
        <div class="alertSection">
            <div class="alertImg active" (click)="details()">
                <img src="assets/images/web_3005.svg">
                <div>Details</div>
            </div>
            <div class="alertImg" (click)="attachments()">
                <img src="assets/images/web_3004.svg">
                <div>Attachments</div>
            </div>

        </div>
    </div>
</div>