body {
    font-family: 'Muli', sans-serif;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

// download, Request Access,Access Denied! css start
.msgWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70pt;
    .msgWindowImg {
        img {
            width: 35pt;
            height: auto;
            margin-bottom: 10px;
        }
    }
    .msgWindowHead {
        font-size: 24px;
        font-weight: normal;
        color: #333333;
        margin-bottom: 10px;
    }
    .msgWindowMsg {
        font-size: 12px;
        font-weight: 500;
        color: #333333;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
        span {
            color: #3F3FAE;
        }
    }
    .downloadBtn {
        button {
            color: #EFEFEF;
            font-size: 12px;
            letter-spacing: normal;
            font-weight: 600;
            background: #4646AE;
            border-radius: 4px;
            border: 1px solid #4646AE;
            height: 25pt;
            width: 90pt;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img {
                width: auto;
                height: 8pt;
            }
        }
    }
}

// download, Request Access,Access Denied! css end