.header {
    height: 15vh;
    padding: 0 20px;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .backArrow {
        margin-right: 10px;
        img {
            width: 15pt;
            height: auto;
            cursor: pointer;
        }
    }
    .headerHead {
        font-size: 22px;
        color: #292929;
        letter-spacing: .5px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: normal;
    }
    .permission {
        font-size: 10px;
        color: #707070;
        display: flex;
        align-items: end;
        img {
            height: 8pt;
            width: auto;
            margin-right: 8px;
        }
        .dot {
            height: 6px;
            width: 6px;
            background-color: #ACACAC;
            border-radius: 50%;
            margin: 4px 10px;
        }
    }
    .downloadBtn {
        button {
            color: #EFEFEF;
            font-size: 12px;
            letter-spacing: normal;
            font-weight: 600;
            background: #4646AE;
            border-radius: 4px;
            border: 1px solid #4646AE;
            height: 25pt;
            width: 90pt;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img {
                width: auto;
                height: 8pt;
            }
        }
    }
}