<div class="header">
    <div class="d-flex">
        <div class="backArrow" (click)="getback()"><img src="assets/images/left.svg"></div>
        <div>
            <div class="headerHead">Bank Statement.doc</div>
            <div class="permission">
                <img src="assets/images/web_3003.svg">
                <span class="mr-1">Full Access. </span>
                <span class="">Expires on  <span>19th Jan 2020 10:10 AM</span></span>
                <span class="dot"></span>
                <span>Shared by <span>John Doe</span></span>
            </div>
        </div>
    </div>
    <div class="downloadBtn"><button type="btn">Download <img src="assets/images/down-arrow.svg"></button></div>
</div>